
#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


#detalis{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #ebe7e7;
    font-family: 'poppins';
    height:50vh;
    width: 60vw;
    }
    
    #detalis h1{
      font-size:5em ;
      text-align: center;
      line-height: 0px;
      text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #detalis span{
      background-color: transparent;
      border: solid .1em #fff;
      font-size: 2em;
      font-weight: 600;
      padding: 5px 1.1em;
      margin-top: 1.5em;
    }
    
    #detalis p{
      width: 50vw;
      margin-top: 1em;
      font-size: 1.4em;

    }

    @media (max-width: 800px){
      #detalis{
        height:80vh;
        width: 60vw;
        padding: 1em;
        }
    #detalis h1{
      font-size:3vh ;
    }
    
    #detalis span{
      font-size: 2em;
    }
    
    #detalis p{
      width: 50vw;
      margin-top: 1em;
      font-size: 1em;
    }
    }