@import "nav";
@import "home";
@import "skills";
@import "projects";
@import "contact";
@import "footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(69, 70, 70), rgb(21, 57, 58));
    overflow:visible; 
}
    #up {
      position: absolute;
      height: 15em;
      width: 15em;
      border-radius: 50%;
      background-image: linear-gradient(80deg, rgb(70, 108, 108), rgba(255, 255, 255, 0.5));
      filter: blur(80px);
      animation: down 30s infinite;
    }
    
    
    #down{
      position: absolute;
      right: 0;
      height:15em;
      width: 15em;
      border-radius: 50%;
      background-image: linear-gradient(80deg, rgba(242, 241, 241, 0.8), rgb(82, 154, 154));
      filter: blur(80px);
      animation: up 20s infinite;
    
  
    }
    

    
    
    
    #left{
      position: absolute;
      height: 20em;
      width: 20em;
      border-radius: 50%;
      background-image: linear-gradient(80deg, rgb(118, 184, 183),rgba(20, 19, 19, 0.8));
      filter: blur(80px);
      animation: left 50s  infinite;
    
    
    }
    
    #right{
      position: absolute;
      height: 20em;
      width: 20em;
      border-radius: 50%;
      background-image: linear-gradient(80deg, rgba(255, 255, 255, 0.6), rgba(82, 176, 162, 0.8));
      filter: blur(80px);
      animation: right 20s  infinite;
    
    }
    
    
    
    
    @keyframes down{
      0%, 100%{
    top: 1vh;
      }
      70%{
        top:192vh;
      }
    }
    
    @keyframes up{
      0%, 100%{
    bottom: -190vh;
      }
      70%{
        bottom:1vh;
      }
    }
    
    @keyframes middle{
      0%, 100%{
    top: 1vh;
    left: 50vw;
      }
      70%{
        top:205vh;
        left: 50vw;
    
      }
    }
    
    @keyframes middle2{
      0%, 100%{
    left: 50vw;
    top:205vh;
    
      }
      70%{
        left: 50vw;
        top: 1vh;
    
      }
    }
    
    
    @keyframes left{
      0%, 100%{
    left: 40vw;
    top:120vh;
    
      }
      70%{
        left:40vw;
        top: 80vh;
    
      }
    }
    
    @keyframes right{
      0%, 100%{
    right: 40vw;
    top: 40vh;
    
      }
      70%{
        right:45vw;
        top:180vh;
      }
    }
    
    @keyframes rightsmall{
      0%, 100%{
        right: 5vw;
        top: 5vh;
        
          }
          70%{
            right:90vw;
            top:200vh;
          }
    }
  
  


 h1,h2,h3,h4,h5,h6,p,span{
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 15% cover 50%;
}

@keyframes fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;

  }

}

